@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Quicksand:wght@300;500&display=swap");

/* Root Variables */
:root {
  --color-primary: #6e2e3c;
  --color-accent: #b23a48;

  --font-titles: "Playfair Display", serif;
  --font-body: "Quicksand", sans-serif;

  --text-color-dark: #4a2f33;
  --text-color-light: #f7e0e2;

  --button-text: #ffffff;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-primary);
  background: linear-gradient(to bottom right, #ebf8ff, #ffffff, #f3e8ff);
  font-family: var(--font-body);
  overflow: auto;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--spacing-medium) 0;
  color: var(--color-primary);
  text-align: center;
  position: relative;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: var(--spacing-large);
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1 0;
  text-align: center;
  padding: var(--spacing-medium) 0;
  color: var(--text-color-light);
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titles);
  font-weight: 500;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  /* Limit line length to improve readability */
  max-width: 50ch;
  text-align: center;
  color: var(--text-color-dark);
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.flex-nav a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.1s ease;
}

.flex-nav a:hover {
  color: var(--color-primary);
}

.button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: var(--color-accent);
  border-radius: 4rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.button a {
  color: var(--button-text);
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: #d24a5c;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.button:active {
  background-color: #c03b4d;
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.image-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 9.5rem;
  height: 9.5rem;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.animate-image {
  transform: scale(1.05) rotate(5deg);
}

/* Contact links in the top-right corner */
.contact-links {
  display: flex;
  position: absolute;
  right: var(--spacing-medium);
  gap: var(--spacing-medium);
}

.contact-link {
  color: var(--color-accent);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #d24a5c;
}

/* Bubble styling and animation */
.bubble {
  position: absolute;
  z-index: 1;
  background: rgba(255, 182, 193, 0.6);
  border-radius: 50%;
  animation: float 15s linear infinite;
  pointer-events: none;
}

@keyframes float {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  85% {
    opacity: 0.3;
  }

  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: var(--spacing-medium);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6px;
}

/* Vertical timeline in the center */
.timeline::before {
  content: "";
  position: absolute;
  left: calc(30% + 0.5rem);
  top: 0;
  bottom: 0;
  width: 0.125rem;
  background-color: #d3d3d3;
}

.timeline-event {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-large);
  width: 100%;
  max-width: 35rem;
}

.timeline-date {
  width: 30%;
  text-align: right;
  color: var(--color-primary);
  font-weight: bold;
}

.event-content {
  width: 70%;
  background-color: #ffffff;
  padding: var(--spacing-medium);
  border-radius: var(--spacing-small);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.event-content:hover {
  background-color: #f5a7e22b;
  border-radius: var(--spacing-small);
  transform: translateX(5px);
}

.event-content h3 {
  font-size: 1.1rem;
  color: #6e2e3c;
}

.event-content p {
  margin: 0.5rem 0;
  color: #4a2f33;
}

.tracking-wide {
  letter-spacing: 0.025rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.home-container {
  max-height: 100vh;
  overflow: hidden;
}

.about-container {
  display: flex;
  overflow: auto;
  align-items: center;
}